<!-- This is a blank template.  You can copy this to make a new template page. -->

{% extends 'base.html' %}

{% block body %}

<div>
    <div>
        <div class='col bg-secondary rounded text-white border border-dark'>
        <h1 style=font-size:100px>About Us</h1>
        </div>
    </div>
</div>
</br>

<div class='container'>
    <div class='row'>
        <div class='col text-left bg-secondary text-white border border-dark rounded'>
            <h1 class='display-3'>Dylan Paltiel</h1>
            <p>This project's sole creator is Dylan Paltiel. Dylan is a senior at Oakland Technical High School in Oakland, CA. He wants to study computer science in college.
            </br>
            Dylan’s mission is to aid and encourage workers to unionize their workspace and create a united working class in America. Dylan started Unionize America to achieve just that. He hopes it will become a space where workers can begin and fulfill their journey to unionization, as well as return to help others reach their goals as well. He believes that through unionization, the American working class can protect and strengthen itself from the capitalist ruling class.
            </p>
        </div>
        <div class='col rounded'>
            <img src='static/IMG-1532.jpg' class='img-fluid rounded' alt='Headshot of Dylan Paltiel'>
        </div>
    </div>
</div>
{% endblock %}