<!-- This is a blank template.  You can copy this to make a new template page. -->

{% extends 'base.html' %}

{% block body %}
<div>
    <div>
        <div class='col bg-secondary rounded text-white border border-dark'>
        <h1 style=font-size:100px>Unionize America</h1>
        </div>
    </div>
</div>
</br>
<div class='container'>
    <div class='row'>
      <div class='col text-left bg-secondary text-white border border-dark rounded'>
        <h1 class='display-3'>Our Mission</h1>
        <p>We at Unionize America want to provide the tools and information to allow every workplace in America to unionize. We hold the firm belief, rooted in evidence, that Unions protect workers and support the community. We offer information about unions, guidance on how to unionize and contacts so workers can support other workers in their quest to unionize. Together we can Unionize America!
        </p>
      </div>
      <div class='col rounded text-white'>
        <img src='static/autoworkers1950s.jpeg' class='img-fluid rounded' alt='Auto workers from the 1950s'>
      </div>
    </div>
    </br>
    <div class='row'>
      <div class='col rounded'>
        <img src='static/teacherstrike.jpeg' class='img-fluid rounded' alt='Strike in support of teachers'>
      </div>
      <div class='col text-left bg-secondary text-white border border-dark rounded'>
        <h1 class='display-3'>Strong Unions,</h1>
        <h1 class='display-3'>Strong Communities</h1>
        <p>Here at Unionize America, we believe that strong unions build strong communities. This belief is not just based on our own personal experiences, it’s backed by data. Unions are proven to lead to better lives for workers, their families and the neighborhoods they live in. Workplaces with unions have higher wages and more fairly enforced labor laws than their unionless counterparts. This leads to more equality for minorities in the workplace and better treatment all around. Unions create jobs and protect freedom within our communities.
        </p>
      </div>
    </div>
    </br>
    <div class='row'>
        <div class='col text-left bg-secondary text-white border border-dark rounded'>
          <h1 class='display-3'>Unionize today</h1>
          <p>Union membership is steadily increasing, and now is the right time to unionize your workplace. With support from other workers who have founded their own unions, you can get your union started right away. As the large companies continue to make record profits amid huge inflation, unionizing is one step to take to protect you, your workplace, your family and your community.
          </p>
        </div>
        <div class='col rounded'>
            <img src='static/gawkerunionize.jpeg' class='img-fluid rounded' alt='Gawker writers strike to unionize'>
        </div>
    </div>
    <p></p>
    
    <p></p>
    
<br><br><br>
{% endblock %}