<!-- this is going to look WACKY i am in the midst of working on it. Sorry :( - Sylvie  -->

{% extends 'base.html' %}

    {% block body %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.8.0-beta.1/leaflet.css" />
    <div class='col bg-secondary rounded text-white border border-dark'>
        <h1 style=font-size:100px>Map</h1>
    </div>
</br>
    <div id="map" style="height: 600px;"></div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.8.0-beta.1/leaflet.js"></script>
    <script type="text/javascript">
        
        {% for union in unions %}
            var startLat = {{union.lat}}
            var startLon = {{union.lon}}
        {% endfor %}
        var map = L.map('map').setView([startLat, startLon], 12);
    
        var layer = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
          attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, &copy; <a href="http://cartodb.com/attributions">CartoDB</a>'
        });
    
        // Now add the layer onto the map
        map.addLayer(layer);

        L.marker([37.8455422, -122.2526120]).addTo(map).bindPopup("<strong>Trader Joe's</strong>").openPopup();
        {% for workplace in workplaces%}
            L.marker([{{workplace.lat}}, {{workplace.lon}}]).addTo(map).bindPopup('<strong>{{workplace.branchname}}</strong></br>{{workplace.address}}</br>{{workplace.city}}, {{workplace.state}} {{workplace.zipcode}}').openPopup();
        {% endfor %}
        {% for union in unions%}
            L.marker([{{union.lat}}, {{union.lon}}]).addTo(map).bindPopup('<strong>{{union.unionname}}</strong></br>{{union.address}}</br>{{union.city}}, {{union.state}} {{union.zipcode}}').openPopup();
        {% endfor %}
        
    </script>

    {% endblock %}