<!-- This is a blank template.  You can copy this to make a new template page. -->

{% extends 'base.html' %}

{% block body %}
<div class='container'>
<div class='row'>
<div class='col bg-secondary rounded-start text-white border border-end-0 border-dark d-grid gap-2 d-md-flex'>
    <h1 style=font-size:100px>
        Unions
    </h1>
</div>
<div class='col bg-secondary border border-start-0 border-dark d-grid gap-2 d-md-flex justify-content-md-end rounded-end p-4'>
    <a class='btn border border-dark text-dark text-center p-4' role='button' href='new'>Upload New Union</a>
</div>
</div>
</div>
</br>
<div class='container'>
<div class='row'>
    {% for union in unions %}
        <div class='col-4 rounded border border-secondary d-grid gap-2 p-3'>
            <a class='btn btn-secondary text-white rounded fs-1 text-center' href='display/{{union.id}}' role='button'>
                {{union.branchname}}
            </a>
            <div class='col text-left text-secondary border border-dark rounded'>
                <p>
                    <span class='fw-bold text-white'>Branch name: </span>{{union.branchname}}
                </p>
                <p>
                    <span class='fw-bold text-white'>Company: </span>{{union.company}}
                </p>
                <p>
                    <span class='fw-bold text-white'>Industry: </span>{{union.industry}}
                </p>
                <p>
                    <span class='fw-bold text-white'>Address: </span>{{union.address}} {{union.city}}, {{union.state}} {{union.zipcode}}
                </p>
            </div>
        </div>
    {% endfor %}
</div>
</div>
{% endblock %}