<!-- This is a blank template.  You can copy this to make a new template page. -->

{% extends 'base.html' %}

{% block body %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.8.0-beta.1/leaflet.css" />
<div class='col bg-secondary rounded text-white border border-dark'>
    <h1 style=font-size:100px>{{union.unionname}}</h1>
</div>
{% if union.author == current_user %}
<div class='text-end'>
    <a class='btn border border-secondary text-secondary text-center' role='button' href='/union/edit/{{union.id}}'>Edit Union</a>
</div>
{% endif %}
</br>
<div class='container'>
<div class='row'>
    <div class = 'col text-left bg-secondary text-white border border-dark rounded'>
        <h1 class='display-3'>Bio</h1>
        <p>
            {{union.bio}}
        </p>
    </div>
    <div class='col rounded border border-dark' id="map" style="height: 300px;"></div>
</div>
</div>

</br>
<div>
    <div class='col text-left bg-secondary text-white border border-dark rounded'>
        <h1 class='display-3'>Union Info</h1>
    </div>
</div>
<div>
    <div class='col text-left text-secondary border border-dark rounded'>
        <p>
            <span class='fw-bold text-white'>Branch name: </span>{{union.branchname}}
        </p>
        <p>
            <span class='fw-bold text-white'>Company: </span>{{union.company}}
        </p>
        <p>
            <span class='fw-bold text-white'>Industry: </span>{{union.industry}}
        </p>
        <p>
            <span class='fw-bold text-white'>Address: </span>{{union.address}} {{union.city}}, {{union.state}} {{union.zipcode}}
        </p>
    </div>
</div>
<div>
    <div class='col text-left text-secondary border border-dark rounded'>
        <p>
            <span class='fw-bold text-white'>Unionized since: </span>{{union.unionizedate}}
        </p>
        <p>
            <span class='fw-bold text-white'>Union rep: </span>{{union.unionrep}}
        </p>
        <p>
            <span class='fw-bold text-white'>Contact email: </span>{{union.conemail}}
        </p>
        <p>
            <span class='fw-bold text-white'>Contact Phone number: </span>{{union.conpnumber}}
        </p>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.8.0-beta.1/leaflet.js"></script>
<script type="text/javascript">
    var map = L.map('map').setView([{{union.lat}}, {{union.lon}}], 12);
    
    var layer = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
      attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, &copy; <a href="http://cartodb.com/attributions">CartoDB</a>'
    });
    
    // Now add the layer onto the map
    map.addLayer(layer);

    L.marker([{{union.lat}}, {{union.lon}}]).addTo(map).bindPopup('<strong>{{union.unionname}}</strong></br>{{union.address}}</br>{{union.city}}, {{union.state}} {{union.zipcode}}').openPopup();
</script>

{% endblock %}

