<!-- This is a blank template.  You can copy this to make a new template page. -->

{% extends 'base.html' %}

{% block body %}
<div class='container'>
    <div class='row'>
    <div class='col bg-secondary rounded-start text-white border border-end-0 border-dark d-grid gap-2 d-md-flex'>
        <h1 style=font-size:100px>
            Workplaces
        </h1>
    </div>
    <div class='col bg-secondary border border-start-0 border-dark d-grid gap-2 d-md-flex justify-content-md-end rounded-end p-4'>
        <a class='btn border border-dark text-dark text-center p-4' role='button' href='new'>Upload New Workplace</a>
    </div>
    </div>
    </div>
</br>


<div class='container'>
<div class='row'>
    {% for workplace in workplaces %}
        <div class='col-4 rounded border border-secondary d-grid'>
            <p></p>
            <a class='btn btn-secondary text-white rounded fs-1 text-center' href='display/{{workplace.id}}' role='button'>
                {{workplace.branchname}}
            </a>
            <div class='col text-left text-secondary border border-dark rounded'>
                <p>
                    <span class='fw-bold text-white'>Branch name: </span>{{workplace.branchname}}
                </p>
                <p>
                    <span class='fw-bold text-white'>Company: </span>{{workplace.company}}
                </p>
                <p>
                    <span class='fw-bold text-white'>Industry: </span>{{workplace.industry}}
                </p>
                <p>
                    <span class='fw-bold text-white'>Address: </span>{{workplace.address}} {{workplace.city}}, {{workplace.state}} {{workplace.zipcode}}
                </p>
            </div>
        </div>
    {% endfor %}
</div>
</div>
{% endblock %}